body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  font-size: 150%; /* Slightly reduced font size */
}
.container {
  background: white;
  padding: 4%; /* Adjusted padding for better spacing */
  border-radius: 4%;
  box-shadow: 0 0 1.5% rgba(0, 0, 0, 0.1);
  width: 50%; /* Adjusted width for better layout */
  text-align: center;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;
}
.input-group label,
.input-group input,
select {
  font-size: 130%; /* Slightly reduced font size */
}

.input-group-hide {
  display: none;
  flex-direction: column;
  margin-bottom: 4%;
  font-size: 130%;
}

.input-group-show {
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;
  font-size: 130%;
}

.button-container-end {
  display: flex;
  justify-content: flex-end;
  font-size: 100%;
}

.button-container-start {
  display: flex;
  justify-content: flex-start;
  font-size: 70%;
}
button {
  padding: 4%;
  border: none;
  background: blue;
  color: white;
  cursor: pointer;
  font-size: 130%; /* Slightly reduced button text size */
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 4%;
  font-size: 130%;
}
th,
td {
  border: 1px solid #ddd;
  padding: 2%;
  text-align: left;
  width: fit-content;
}
th {
  background-color: #f2f2f2;
}
.lucro {
  background-color: #c8e6c9;
}
.despesa {
  background-color: #ffcdd2;
}
p {
  font-size: 130%;
  margin-top: 2%;
}
.entry-buttons {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 4%;
}
#deleteEntry,
#alterEntry {
  background: red;
  padding: 3%;
  font-size: 120%;
  cursor: pointer;
  border-radius: 5px;
}
#alterEntry {
  background: orange;
}
a{
    color: black;
    text-decoration: none;
}
#aButton {
  padding: 4%;
  border: none;
  background: blue;
  color: white;
  cursor: pointer;
  font-size: 100%; 
  text-decoration: none; 
}

#aButtonStart {
  padding: 4%;
  border: none;
  background: blue;
  color: white;
  cursor: pointer;
  font-size: 100%; 
  text-decoration: none; 
  justify-content: flex-start;
}

.hide {
  display: none;
}

.show {
  display: block;
}
