<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="css/teste.css" />
  </head>
  <body>
    <div class="container">
        <div class="button-container-start">
            <a href="/login"> &larr; Retorne ao Login</a>
        </div>
      <h2>Lucros e Despesas</h2>
      <table>
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Lucro</th>
            <th>Despesa</th>
          </tr>
        </thead>
        <tbody id="tableLancamentos">
          <tr th:each="lancamentos : ${lancamentos}">
            <td th:text="${lancamentos.amount}"></td>
            <td th:text="${lancamentos.tipoReceita != null ? movement.tipoReceita.description : movement.tipoDespesa.description}"></td>
            <td>
              <a href="deletar" class="entry-buttons" id="deleteEntry"
                >deletar</a
              >
            </td>
            <td>
              <a href="alterar" class="entry-buttons" id="deleteEntry"
                >alterar</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <p><strong>Total Lucro:</strong> <span id="totalLucro">A implementar</span></p>
      <p>
        <strong>Total Despesa:</strong> <span id="totalDespesa">A implementar</span>
      </p>
    </div>
      
 <a href="/cadastroLancamento">NOVO LANÇAMENTO</a>
    <script>
      /* function updateTotals() {
            let earnings = 0, losses = 0;
            document.querySelectorAll('#dataTable tr').forEach(row => {
                const amount = parseFloat(row.children[1]?.innerText.replace('$', '')) || 0;
                if (row.classList.contains('earning')) earnings += amount;
                if (row.classList.contains('loss')) losses += amount;
            });
            document.getElementById('totalEarnings').innerText = `$${earnings}`;
            document.getElementById('totalLosses').innerText = `$${losses}`;
        }
        updateTotals(); */
    </script>
  </body>
</html>
