<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="css/stylesupdated.css" />
    <style></style>
  </head>
  <body>
    <div class="container">
      <h2>Login</h2>
      <form id="loginForm" th:action="@{/login}" method="post">
        <div class="input-group">
          <label for="nome">nome:</label>
          <input type="text" id="nome"  name="nome" required />
        </div>
        <div class="input-group">
          <label for="senha">senha:</label>
          <input type="senha" id="senha" name="senha" required />
        </div>
        <div class="button-container">
          <button type="submit">Login</button>
        </div>
      </form>
    </div>
    <script>
    </script>
  </body>
</html>
